html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  color: rgb(51, 51, 51);
}

article {
  width: 50%;
  float: left;
  margin-left: 40px;
  line-height: 25px;
}

article header {
    margin-top: 30px;
    margin-bottom: 60px;
}

article p {
    margin-bottom: 30px;
}

article img {
  width: 100%;
}

aside {
  width: 30%;
  float: right;
  height: 100px;
  margin-right: 150px;
}

aside ul li{
    width: 70%;
}